databases/chroma/*

databases/jsonnotes/*

databases/markdownwebsitepages

databases/mindmapsnotes/*


databases/pdfbooksarticles/*

*/*/__pycache__

.gitignore



processedfiles.txt

.env

env/